body,
html {
  font-family: 'Open Sans', 'Roboto-light', 'sans-serif';
 
  padding: 0;
  margin: 0;
    
}

.first-section{
    padding: 4rem;
}

.second-section {
    
    padding-top: 100px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    
    font-family: 'Raleway';
    line-height: 1.4em;
    font-size: 18px;
    text-align: center;
}




.flex {
    display: flex;
}


.top-text {
    font-weight: 800;
    
    
}








.main-message {
    
    color: green;
    font-display: 'Open Sans';
    display: flex;
    justify-content: center;
    background-color: #f2f5f7;
    
    border-radius: 50px 0 50px 0;
    
}



.main-message h5 {
    color: #f7bd0f;
    
    font-family: 'Raleway';
}

.main-message p {
    color: #f7bd0f;
}



.second-section {
    background-color: #f2f5f7;
    padding: 4rem;
    margin-top: 10px;
}


.growbaby-logo,
  .copyright{
    width: 150px;
    position: relative;
    left: 3em;
  }
  
  .copyright{
      top: 1em;
  }
  
  .footer{
      
   
     
    }



@media screen and (max-width: 414px) {
    .second-section {
    
        padding: 2rem;
        
    }

    .first-section{
        padding: 0;
    }
  } 


  @media screen and (max-width: 1024px) {
    
    .main-message {
    
        width: 300px
        
    }

    .first-section {
       padding-top: 2rem;
       padding-right: 1rem;
       padding-left: 0;


    }
        
  }

  

  /*


@media screen and (min-width: 1440px) {
    .first-section {
        padding: 3rem;
    }

    .img-responsive{
        width: 700px;
        height: 700px;
    }

    .top-text {
        font-weight: 950px bold;
        
    }

    .main-message h4 {
        padding: 5px;
    }

    

    }

    @media screen and (min-width: 1311px) {
        .first-section {
            padding: 2rem;
        }
    
        .img-responsive{
           margin-top: 10px
        }
    
      
    
        } */

       
    


    
  @media screen and (max-width: 375px) {
    .first-section{
    padding: 0;
}
       
.second-section {
    
    padding: 2rem;
    
}

.top-text {
    font-weight: 500;
    
    
}

    
    
  }


   
 