body,
html {
  font-family: 'Open Sans', 'Roboto-light', 'sans-serif';
 
  padding: 0;
  margin: 0;
    
}

.first-section{
    padding: 4rem;
}

.second-section {
    
    padding-top: 100px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    
    font-family: 'Raleway';
    line-height: 1.4em;
    font-size: 18px;
    text-align: center;
}




.flex {
    display: flex;
}


.top-text {
    font-weight: 800;
    
    
}








.main-message {
    
    color: green;
    font-display: 'Open Sans';
    display: flex;
    justify-content: center;
    background-color: #f2f5f7;
    
    border-radius: 50px 0 50px 0;
    
}



.main-message h5 {
    color: #f7bd0f;
    
    font-family: 'Raleway';
}

.main-message p {
    color: #f7bd0f;
}



.second-section {
    background-color: #f2f5f7;
    padding: 4rem;
    margin-top: 10px;
}


.growbaby-logo,
  .copyright{
    width: 150px;
    position: relative;
    left: 3em;
  }
  
  .copyright{
      top: 1em;
  }
  
  .footer{
      background-color: #293242;
   
      color: #fff;
      bottom: 0;
      
      width: 100%;
    }



/* @media screen and (max-width: 414px) {
    .menu-item{
        
        display: none;
    }

    .img-responsive {
     max-width: 300px;
      max-height: 300px;
     
    }
    .text-only {
        padding-right: 10px;
    }

    .img-section {
        margin-bottom: 50px;
        margin-bottom: 30px
    }
    .main-message {
        margin-bottom: 50px;
        margin-top: 20px
    }

  }  */


  

  

  /* @media screen and (max-width: 1024px) {
    .menu-item{
        
        display: none;
    }

    .first-section {
        min-height: 40vh;
       
        color: aliceblue
    }
        
  }

  @media screen and (max-width: 375px) {
    .menu-item{
       
        display: none;
    }

    .img-responsive {
        max-width: 250px;
         max-height: 250px;
         margin-top: 10px;
         margin-left: 20px;
         margin-bottom: 10px;
       }

       .Ad-button{ 
        width: 200px;
        border-radius: 5px
    }
        
    .second-section {
        
        padding: 2rem;
    }
    
    .img-section {
        margin-bottom: 50px;
        margin-bottom: 30px
    }

    .text-only {
        padding-right: 10px;
    }
    .main-message {
        margin-bottom: 50px;
        margin-top: 20px
    }
    
    
  }

  @media screen and (min-width: 320px) {
.navbar h2 {
    font-size: 20px;
   
}

.img-section {
    margin-bottom: 50px;
    margin-bottom: 30px
}
.second-section {
    padding-top: 100px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
        
   
}

.main-message {
    margin-bottom: 50px;
    margin-top: 20px
}
}

@media screen and (min-width: 1440px) {
    .first-section {
        padding: 3rem;
    }

    .img-responsive{
        width: 700px;
        height: 700px;
    }

    .top-text {
        font-weight: 950px bold;
        
    }

    .main-message h4 {
        padding: 5px;
    }

    

    }

    @media screen and (min-width: 1311px) {
        .first-section {
            padding: 2rem;
        }
    
        .img-responsive{
           margin-top: 10px
        }
    
      
    
        } */

       
    


    

   
 